<div class="card shadow-lg mt-2">
    <div class="card-header">
        <h6>
            {{todo.title}}
        </h6>
    </div>
    <div class="card-body">
        <div class="d-flex flex-row-reverse">
            <div class="p-2 text-danger">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </div>
            <div class="p-2 text-success">
                <i class="fa-solid fa-pen-to-square"></i>
            </div>                        
          </div>
        <p class="card-text">
            <i class="fa-regular fa-calendar-days"></i>
            {{todo.scheduled_time}}
        </p>
        <p class="card-text">{{todo.description}}</p>
        <div class="d-flex flex-row-reverse">
            <div class="p-2">
                <button type="button" class="btn btn-warning">Mark as Complete</button>
            </div>                
        </div>
    </div>
    <div class="card-footer text-muted">
        {{todo.category}}
    </div>
  </div>